Flask==3.0.2
Werkzeug==3.0.1
Jinja2==3.1.2
itsdangerous==2.1.2
click==8.1.6
blinker==1.7.0
flask-bcrypt
flask-jwt-extended
flask-sqlalchemy
PyMySQL
ldap3
pandas
openpyxl
xlrd
reportlab
pdfplumber
selenium
webdriver-manager
requests
python-dotenv
pytest==7.4.0
pytest-cov==4.1.0
factory-boy==3.2.1